<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Twiiiter</title>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
		</script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="/scripts/script.js"></script>
</head>

<body>
	<%- include('components/nav') %>
	<div class="container mt-3">
		<div class="d-none alert alert-warning alert-dismissible fade show" role="alert">
			<span class="alert-text"></span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<%- include('components/post-content') %>
		<ol>
			<% for(var i=0; i<allT.length; i++) {%>
			<li>
				<p><%= allT[i].user + " twiiits " %></p>
        <p><%= allT[i].content %></p>
        <button class ="like-btn" name="like" value=<%= allT[i]._id %>>like <p class="like-count"><%=allT[i].likecount%></p> </button>
			<% } %>
		</ol>
	</div>

</body>

</html>